<div ui-sref="main.dashboard.messages">Message Center</div>

<div ui-sref="main.dashboard.numbers({id: {{DashboardController.profileData.data.currentPeriod.key}} })">{{DashboardController.profileData.data.currentPeriod.count}} receipts uploaded this period</div>

<div ui-sref="main.dashboard.periods">{{DashboardController.profileData.data.previousPeriodsCount}} receipts in previous periods</div>

<div 
  ng-if="DashboardController.profileData.data.totalWinning">
	You've won ${{DashboardController.profileData.data.totalWinning}} in previous periods!
</div>